<!--
 * File: login.component.css
 * Authors: Rohrbacher Marcell
 * Copyright: 2022, Rohrbacher Marcell
 * Group: Szoft II/N
 * Date: 2022-03-10
 * Github: https://github.com/Marci971104
 * Licenc: GNU GPL
-->

.inputs{
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: black;
}
.full{
    background-color:darkgray;

}
#button{
    color: red;
    position: fixed;
    right: 15%;
    font-size: x-large;
}
